.about-us {
  position: relative;
}

.about-us__wrapper {
  padding: 123px 0 66px;

  @include vp-1199 {
    padding: 50px 0 37px;
  }

  @include vp-767 {
    padding: 425px 0 10px;
  }
}

.about-us__img-wrapper {
  position: absolute;
  top: 0;
  left: -120px;
  z-index: -1;

  @include vp-1199 {
    top: 60px;
    left: -45px;
  }

  @include vp-767 {
    top: 0;
    left: -15px;
  }
}

.about-us__content-wrapper {
  padding-left: 615px;

  @include vp-1199 {
    padding-left: 408px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.about-us__title-wrapper {
  position: relative;
}

.about-us__title-wrapper span {
  position: absolute;
  margin: 0;
  top: -17px;
  left: 0;
  opacity: 0.03;

  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px; /* 100% */
  opacity: 0.03;

  @include vp-1199 {
    top: -21px;
    font-size: 40px;
    left: 0;
  }

  @include vp-767 {
    top: -3px;
    font-size: 26px;
    left: 0;
  }
}

.about-us__title-wrapper h2 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 35px */

  margin: 1px 0 49px;

  @include vp-1199 {
    margin: 0 0 43px;
  }

  @include vp-767 {
    margin: 0 0 28px;
    font-size: 22px;
    line-height: 22px; /* 100% */
  }
}

.about-us__info h3 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 100% */

  margin: 0 0 16px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px; /* 100% */
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px; /* 100% */
  }
}

.about-us__info p {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  margin: 0 0 25px;
  max-width: 585px;
}
