.about-us {
  position: relative;
}

.about-us__wrapper {
  padding: 78px 0 52px;

  @include vp-1199 {
    padding: 18px 0 171px;
  }

  @include vp-1023 {
    padding: 18px 0 2px;
  }

  @include vp-767 {
    padding: 407px 0 1px;
  }
}

.about-us__img-wrapper {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;

  @include vp-1199 {
    top: 60px;
  }

  @include vp-767 {
    top: 0;
  }
}

.about-us__content-wrapper {
  padding-left: 615px;

  @include vp-1199 {
    padding-left: 408px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.about-us__title-wrapper {
  position: relative;
}

.about-us__title-wrapper span {
  position: absolute;
  margin: 0;
  top: -17px;
  left: 0;

  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px; /* 100% */
  opacity: 0.03;

  @include vp-1199 {
    top: -13px;
    left: 6px;
    font-size: 40px;
    line-height: 40px; /* 100% */
  }

  @include vp-767 {
    top: -3px;
    left: 0;

    font-size: 26px;
    line-height: 26px; /* 100% */
  }
}

.about-us__title-wrapper h2 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 35px */

  margin: 1px 0 56px;

  @include vp-1199 {
    margin: 0 0 35px 5px;

    font-size: 25px;
    line-height: 25px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 25px;

    font-size: 22px;
    line-height: 22px; /* 100% */
  }
}

.about-us__info h3 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 100% */

  margin: 0 0 16px;

  @include vp-1199 {
    margin: 0 0 11px;

    font-size: 18px;
    line-height: 18px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 13px;

    font-size: 16px;
    line-height: 16px; /* 100% */
  }
}

.about-us__info p {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  margin: 0 0 29px;
  max-width: 585px;

  @include vp-1023 {
    &:last-child {
      margin: 0;
    }
  }

  @include vp-767 {
    margin: 0 0 27px;

    line-height: 20px; /* 142.857% */
  }
}
