.btn {
  display: inline-flex;
  color: $color-default-white;
  background-color: $color-additional;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
