.gallery__wrapper {
  position: relative;
  padding-top: 100px;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 15px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.gallery__inner-wrapper {
  position: relative;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.gallery br {
  @include vp-1199 {
    display: none;
  }
}

.gallery__title-wrapper {
  position: relative;
}

.gallery__title-wrapper span {
  position: absolute;
  margin: 0;
  top: -17px;
  left: 0;

  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px; /* 100% */
  opacity: 0.03;

  @include vp-1199 {
    top: -15px;

    font-size: 40px;
    line-height: normal;
  }

  @include vp-767 {
    top: -3px;

    font-size: 26px;
    line-height: 26px; /* 100% */
  }
}

.gallery__title-wrapper h2 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 35px */

  margin: 1px 0 26px;
  padding: 0;

  @include vp-1199 {
    margin: 0 0 44px;

    font-size: 25px;
    line-height: normal;
  }

  @include vp-767 {
    margin: 0 0 18px;

    font-size: 22px;
    line-height: 22px; /* 100% */
  }
}

.gallery__wrapper p {
  margin: 0 0 45px;
  padding: 0;
  width: 693px;

  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  @include vp-1199 {
    margin: 0 0 37px;
    width: 420px;

    font-size: 14px;
    line-height: 22px; /* 157.143% */
  }

  @include vp-767 {
    margin: 0 0 15px;
    width: 90%;

    font-size: 12px;
    line-height: 18px; /* 150% */
  }
}

.gallery__swiper-buttons {
  position: absolute;
  display: flex;
  gap: 4px;
  top: 40px;
  right: 120px;

  @include vp-1199 {
    top: 40px;
    right: 45px;
  }

  @include vp-1023 {
    top: 46px;
  }

  @include vp-767 {
    top: 0;
    right: 0;
  }
}

.gallery__swiper-button {
  width: 37px;
  height: 35px;
  background-color: $color-additional;
  border: 1px solid $color-additional;
  cursor: pointer;
  transition: opacity $trans-default;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__swiper-button svg {
  color: $color-white;
}

.gallery__swiper-button:hover,
.gallery__swiper-button:focus-visible {
  background-color: $color-white;
  border: 1px solid $color-condition;
}

.gallery__swiper-button:hover svg,
.gallery__swiper-button:focus-visible svg {
  color: $color-condition;
}

.gallery__swiper-button:active {
  background-color: $color-condition;
  outline: none;
}

.gallery__swiper-button:active svg {
  color: $color-white;
}

.gallery__swiper-button--disabled {
  background-color: $color-disabled;
  border: 1px solid $color-disabled;
  pointer-events: none;
}

.gallery__swiper-slide {
  flex-shrink: 0;
  transition: opacity 0.1s linear;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 449px;

  img {
    object-fit: cover;
  }

  &:nth-child(odd) {
    width: 275px;
  }

  &:nth-child(even) {
    width: 298px;
  }

  @include vp-1199 {
    height: 450px;

    &:nth-child(odd) {
      width: 338px;

      img {
        width: 338px;
        height: 450px;
        object-fit: cover;
        object-position: center;
      }
    }

    &:nth-child(even) {
      width: 338px;

      picture {
        &:first-child {
          img {
            width: 338px;
            height: 180px;
            object-fit: cover;
            object-position: center;
          }
        }

        &:last-child {
          img {
            width: 338px;
            height: 265px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  @include vp-1023 {
    height: 450px;

    &:nth-child(odd) {
      width: 252px;
    }

    &:nth-child(even) {
      width: 252px;
    }
  }

  @include vp-767 {
    gap: 3px;
    height: 260px;

    &:nth-child(odd) {
      width: 158px;

      img {
        width: 158px;
        height: 260px;
        object-fit: cover;
        object-position: center;
      }
    }

    &:nth-child(even) {
      width: 158px;

      picture {
        &:first-child {
          img {
            width: 158px;
            height: 100px;
            object-fit: cover;
            object-position: center;
          }
        }

        &:last-child {
          img {
            width: 158px;
            height: 157px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
