.hero {
  position: relative;
}

.hero .container {
  padding: 0;
}

.hero h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.hero__swiper {
  position: relative;

  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__swiper-pagination {
  position: absolute;

  @include vp-1199 {
    right: 50%;
    transform: translate(50%);
  }
}

.hero__swiper-slide {
  position: relative;
  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hero-gradient;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.hero__background picture {
  display: block;
  height: 100%;
  width: 100%;
}

.hero__background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__info {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 200px 120px 80px;

  @include vp-1199 {
    padding: 212px 45px 97px;
    align-items: center;
  }

  @include vp-767 {
    padding: 132px 15px 48px;
  }
}

.hero__video-wrapper {
  position: absolute;
  top: 329px;
  right: 120px;

  width: 482px;
  height: 317px;

  @include vp-1199 {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto 90px;

    width: 442px;
    height: 300px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video-wrapper > iframe {
  position: absolute;
  border: none;
  top: 0;
  left: 0;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__video-poster {
  position: absolute;
  z-index: 1;
}

.hero__video-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 2;
  width: 56px;
  height: 56px;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border: 1px solid $color-white;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  svg {
    color: $color-white;
  }

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    border: 1px solid $color-condition;

    svg {
      stroke: $color-black;
      stroke-width: 1px;
    }
  }

  &:active {
    border: 1px solid $color-condition;
    background-color: $color-condition;

    svg {
      stroke: none;
    }
  }

  &:disabled,
  &--disabled {
    background-color: transparent;
    border: 1px solid $color-additional-opacity-10;
    pointer-events: none;

    svg {
      color: $color-additional-opacity-10;
    }
  }
}

.hero__photo-first {
  position: absolute;
  bottom: 206px;
  right: 222px;
  width: 308px;
  height: 407px;
  z-index: -2;

  @include vp-1199 {
    position: static;
    margin: 0 176px 39px 0px;
    width: 266px;
    height: 351px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo-second {
  position: absolute;
  bottom: 154px;
  right: 120px;
  width: 277px;
  height: 366px;
  z-index: -1;

  @include vp-1199 {
    left: 48.5%;
    bottom: 122px;

    width: 236px;
    height: 312px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio-wrapper {
  position: absolute;
  top: 426px;
  right: 120px;
  width: 340px;
  height: 220px;
  z-index: 5;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio-wrapper iframe {
  display: block;
}

.hero__info h2 {
  margin: 0 0 23px;
  padding: 0;
  width: 944px;
  z-index: 3;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 77px;
  font-style: normal;
  font-weight: 800;
  line-height: 77px; /* 100% */

  @include vp-1199 {
    margin: 0 0 13px;
    width: 678px;

    text-align: center;
    font-size: 56px;
    line-height: 56px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 15px;
    width: 100%;
    font-size: 26px;
    line-height: 26px; /* 100% */
  }
}

.hero__info p {
  margin: 0 0 37px;
  padding: 0;
  width: 464px;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */

  @include vp-1199 {
    margin: 0 0 27px;
    width: 500px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 60px;
    padding: 0;
    width: 100%;
    font-size: 15px;
    line-height: 20px; /* 133.333% */
  }
}

.hero__btn {
  display: block;
  width: 180px;
  margin: 0 0 134px;
  padding: 20px 20px 18px;
  border: 1px solid $color-additional;
  background-color: $color-additional;

  color: $color-white;
  text-align: center;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */

  cursor: pointer;
  transition: opacity $trans-default;

  @include vp-1199 {
    margin: 0 0 45px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 97px;
  }

  &:hover,
  &:focus {
    color: $color-condition;
    background-color: $color-white;
    transition: $trans-default;
    border: 1px solid $color-condition;
    outline: none;
  }

  &:active {
    color: $color-white;
    background-color: $color-condition;
  }

  &:disabled {
    color: $color-white;
    background-color: $color-disabled;
    pointer-events: none;
  }
}

.hero__desc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__desc svg {
  margin-right: 8px;
  color: $color-white;
}

.hero__desc span {
  padding: 13px 19px;
  display: flex;
  align-items: center;

  border: 1px solid $color-white-opacity-50;
  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
