.navigation {
  display: flex;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  color: $color-white;
}

.navigation__item {
  min-height: 62px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  position: relative;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */

  @include vp-1199 {
    color: $color-primary;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px; /* 100% */
    letter-spacing: 0.56px;
  }

  &:hover {
    &::after {
      position: absolute;
      content: "";
      top: 22px;
      left: -5px;
      width: calc(100% + 10px);
      height: 1px;
      background-color: $color-white;

      @include vp-1199 {
        background-color: $color-primary;
      }
    }
  }

  &:focus {
    outline: 1px solid $color-white;
    outline-offset: 3px;

    &::after {
      content: none;
    }

    @include vp-1199 {
      outline: 1px solid $color-primary;
    }
  }

  &:active,
  &:disabled,
  &--disabled {
    color: $color-white;

    @include vp-1199 {
      color: $color-primary;
    }
  }
}
