.navigation {
  display: flex;
  grid-column: 2/3;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  width: 654px;
  color: $color-white;
  transform: translate(15px);
  gap: 30px 31px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @include vp-1199 {
    margin: 0;
    padding: 0;
    flex-direction: column;
    transform: none;

    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      padding: 22px 35px 59px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      top: 81px;
      left: 0;
      width: 100%;
      gap: 6px 10px;
      color: $color-primary;
      background-color: $color-white;
      overflow-y: auto;
    }
  }

  @include vp-767 {
    &--opened {
      padding-top: 47px;
      padding-bottom: 40px;
      padding-left: 5px;
      top: 58px;
      gap: 2px 10px;
    }
  }
}

.navigation__item {
  display: flex;
  align-items: center;
  margin: 1px 0 0;

  @include vp-1199 {
    margin: 0;
  }
}

.navigation__link {
  position: relative;
  display: block;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */

  &:hover {
    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: -5px;
      width: calc(100% + 10px);
      height: 1px;
      background-color: $color-white;

      @include vp-1199 {
        background-color: $color-primary;
      }
    }
  }

  &:focus {
    outline: 1px solid $color-white;
    outline-offset: 5px;

    &::after {
      content: none;
    }

    @include vp-1199 {
      outline: 1px solid $color-primary;
      outline-offset: -3px;
    }
  }

  &:active,
  &:disabled,
  &--disabled {
    color: $color-white;

    @include vp-1199 {
      color: $color-primary;
    }
  }

  @include vp-1199 {
    padding: 10px;

    color: $color-primary;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    &:hover {
      &::after {
        top: 30px;
        left: 5px;
        width: calc(100% - 10px);
        background-color: $color-primary;
      }
    }

    &:focus-visible {
      outline: 1px solid $color-primary;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px; /* 100% */
    letter-spacing: 0.56px;
  }
}
