.tours {
  position: relative;
}

.tours__decotation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 602px;
  height: 1630px;

  @include vp-1199 {
    height: 1364px;
  }

  @include vp-767 {
    top: 110px;
    width: 171px;
    height: 595px;
  }
}

.tours__decotation img {
  width: 602px;
  height: 1630px;

  @include vp-1199 {
    height: 1364px;
  }

  @include vp-767 {
    width: 171px;
    height: 595px;
  }
}

.tours__wrapper {
  position: relative;
  padding: 123px 0 109px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 68px 0 54px;
    background: none;
  }

  @include vp-767 {
    padding: 55px 0 30px;
    overflow: hidden;
  }
}

.tours__title-wrapper {
  position: relative;
}

.tours__title-wrapper span {
  position: absolute;
  margin: 0;
  top: -17px;
  left: 0;

  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px; /* 100% */
  opacity: 0.03;

  @include vp-1199 {
    top: -17px;
  }

  @include vp-767 {
    top: -29px;
  }
}

.tours__title-wrapper h2 {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 35px */

  margin: 1px 0 49px;

  @include vp-1199 {
    margin: 0 0 22px;
  }

  @include vp-767 {
    margin: 0 0 23px;
    font-size: 22px;
    line-height: 22px; /* 100% */
  }
}

.tours__swiper {
  position: relative;
  margin: 0 0 64px;
  width: 1200px;
  left: calc((100% + 240px - 1440px) / 2);

  @include vp-1199 {
    position: static;
    margin: 0 auto 36px;
    width: 934px;
  }

  @include vp-1023 {
    width: 678px;
  }

  @include vp-767 {
    margin: 0 0 35px;
    width: 100%;
  }
}

.tours__swiper-buttons {
  position: absolute;
  display: flex;
  gap: 4px;
  top: 120px;
  right: 0;

  @include vp-1199 {
    top: 65px;
  }

  @include vp-767 {
    top: 40px;
  }
}

.tours__swiper-button {
  width: 37px;
  height: 35px;
  background-color: $color-additional;
  border: 1px solid $color-additional;
  cursor: pointer;
  transition: opacity $trans-default;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tours__swiper-button svg {
  color: $color-white;
}

.tours__swiper-button:hover,
.tours__swiper-button:focus-visible {
  background-color: $color-white;
  border: 1px solid $color-condition;
  outline: none;
}

.tours__swiper-button:hover svg,
.tours__swiper-button:focus-visible svg {
  color: $color-condition;
}

.tours__swiper-button:active {
  background-color: $color-condition;
  outline: none;
}

.tours__swiper-button:active svg {
  color: $color-white;
}

.tours__swiper-button--disabled {
  background-color: $color-disabled;
  border: 1px solid $color-disabled;
  pointer-events: none;
}

.tours__swiper-slide {
  position: relative;

  display: flex;
  align-items: flex-end;
  max-width: 380px;
  min-height: 416px;
  height: auto;
  color: $color-white;
  cursor: grab;
  background-color: $color-disabled;

  @include vp-1199 {
    max-width: 458px;
  }

  @include vp-1023 {
    max-width: 330px;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
  }
}

.tours__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tours__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $tours-gradient;

  &--secondary {
    background: $color-overlay;
  }
}

.tours__background picture {
  display: block;
  width: 100%;
  height: 100%;
}

.tours__background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.tours__info {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  margin: 0;
  width: 100%;
  gap: 15px;
}

.tours__info h3 {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */

  width: 100%;
  max-width: 233px;

  @include vp-767 {
    width: 219px;
    max-width: none;
    min-width: none;
  }
}

.tours__details-top {
  display: flex;
  justify-content: space-between;
}

.tours__duration-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.tours__place,
.tours__days,
.tours__nights {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tours__place p,
.tours__days p,
.tours__nights p {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}

.tours__place {
  background-color: $color-additional;
  padding: 7px 12px;
}

.tours__place p {
  margin-left: 6px;
}

.tours__days p,
.tours__nights p {
  margin-left: 12px;
}

.tours__line {
  width: 80px;
  height: 1px;
  background-color: $color-white;
  opacity: 0.2;
}

.tours__details {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.tours__complexity p,
.tours__date p,
.tours__group p {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px; /* 100% */
}

.tours__complexity span,
.tours__date span,
.tours__group span {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 100% */
}

.tours__complexity p {
  margin: 0 0 3px;
}

.tours__star {
  display: flex;
  gap: 0 1px;
}

.tours__show-all {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 0.64px;
  text-transform: uppercase;

  display: flex;
  align-self: center;
  transform: translate(1px);

  @include vp-767 {
    font-size: 14px;
    line-height: 14px; /* 100% */
    letter-spacing: 0.56px;
  }

  &:focus {
    outline: none;
  }
}

.tours__show-all > span {
  margin-right: 10px;
}

.tours__show-all svg {
  color: $color-primary;
  stroke: $color-primary;
}

.tours__show-all:hover span,
.tours__show-all:hover svg,
.tours__show-all:focus span,
.tours__show-all:focus svg {
  color: $color-condition;
  stroke: $color-condition;
}

.tours__show-all:active span,
.tours__show-all:active svg {
  color: $color-additional;
  stroke: $color-additional;
}

.tours__show-all:disabled span,
.tours__show-all--disabled span {
  color: $color-additional;
  stroke: $color-additional;
}

.tours__show-all:disabled svg,
.tours__show-all--disabled svg {
  color: $color-additional-opacity-10;
  stroke: $color-additional-opacity-10;
}
